.x-action-col-cell img.ex-baks {
	background-image : url(../../resources/images/baks.png);
	
	height : 30px;
	width : 30px;
	/*cursor : pointer;*/
}
.x-action-col-cell img.ex-ch {
	background-image : url(../../resources/images/checkbox_checked.png);
	
	height : 32px;
	width : 32px;
	/*cursor : pointer;*/
}
.x-action-col-cell img.ex-unch {
	background-image : url(../../resources/images/checkbox_unchecked.png);
	
	height : 32px;
	width : 32px;
	/*cursor : pointer;*/
}
.rec-gray {
	color: #808080;
}
.rec-green {
	color: #177245;
}
.rec-red {
	color: #ff7f50;
}
.x-grid-row.rec-notview-gray .x-grid-cell
{
	color: #808080;
	background-color: #abcdef;
}
.x-grid-row.rec-notview-green .x-grid-cell
{
	color: #177245;
	background-color: #abcdef;
}
.x-grid-row.rec-notview-red .x-grid-cell
{
	color: #ff7f50;
	background-color: #abcdef;
}
.up {
    background-image: url( ../../resources/images/up_arrow.png ) !important;
}
.down {
    background-image: url( ../../resources/images/down_arrow.png ) !important;
}
.view {
    background-image: url( ../../resources/images/notebook.png ) !important;
}
.x-grid-row
{
	height : 45px;
	
}
.wrap .x-grid-cell-inner
{
	white-space : normal;
}